
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    --text-color:#000;
    font-family: 'League Spartan', sans-serif;
    background-color:var(--background);
}
 :root{
    --mainblue:#7C5DFA;
    --lightblue:#9277FF;
    --darkblue:#1E2139;
    --middark:#252945;
    --lightblue:#DFE3FA;
    --grayblue:#888EB0;
    --midblue:#7E88C3;
    --darkerblue:#0C0E16;
    --peach:#EC5757;
    --pink:#FF9797;
    --lightBG:#F8F8FB;
    --darkBG:#141625;
    --background:#f2f2f2;
} 


/* mobile view */
@media only screen and (min-width: 320px) and (max-width: 480px) {
.container{
position: relative;
width: 375px;
height: 1319px;
}
/* header styling */
    .header{
position: absolute;
width: 375px;
height: 72px;
left: 0px;
top: 0px;
background-color: var(--middark);
display: grid;
 grid-template-columns: 1fr 2fr 1fr 1fr; 

}
.user img{
    border-radius: 50%;
    width: 40%;
}
.header div * {
        margin: 20px auto 0 20px; 
}
#logo{
    background-color: var(--midblue);
    border-radius: 10px;
}
.dark{
    background-color: var(--darkblue);
    --text-color:#fff;
}

#color_mode{
    border-right: 1px solid #6b6565;
}
/* newbar filter styling */
.new_bar{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    position: absolute;
    width: 327px;
    height: 52px;
    left: 24px;
    top: 104px;
    border: 1px solid #000;
    color: var(--text-color);
    padding: 10px;
}
#invoiceNum{
    color: var(--grayblue);
}
  .selectBox {
    position: relative;
   
  }
   .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  } 
  #checkboxes {
    display: none;
    border: 1px solid #000;
    background-color: #fff;
    width: 192px;
    margin-top: 20px;
  }
  #checkboxes label {
    display: block;
    padding: 10px;
  }
  #checkboxes label:hover {
    background-color: #1e90ff;
  }
.create_new label{
    display: flex;
    background-color: var(--mainblue);
    width: 80px;
    height: 35px;
    border-radius:80px;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: space-around;
    /* padding: 5px; */
}
.create_new img{
    background-color: var(--lightBG);
    border-radius: 50px;
    padding: 10px;
}
.create_new p{
    color: var(--lightBG);
    font-weight: 600;
}
}