 @import "index.css";

.overlay {
  width: 94%;
  height: 100%;
  /* height: 1299px; */
  margin: auto;
  position: fixed;
  display: none;
  top: 0;
  left: 103px;
  right: 0;
  bottom: 0;
  background-color: var(--overlayColor);
  z-index: 2;
}
.new_main {
  /* position: absolute; */
  width: 560px;
  /* height: 100%; */
  height: 1299px;
  /* left: 103px; */
  top: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--select-background);
}
.new_Header {
  margin: 20px auto 0 60px;
}
.hold_form {
  border: 1px solid #000;
  width: 90%;
  height: 95%;
  margin: 10px auto 0 auto;
  padding: 10px;
}
.StreetAddress,
.CName,
.cemail {
  width: 90%;
  height: 40px;
  margin: 15px;
}
.cities,.cities1{
  margin-top: 10px;
}
.new_main h5{
  line-height: 30px;
  color: var(--mainblue);
}
.invoice{
  margin-top: 20px;
}
.invoice select{
  background-color: #fff;
  border: 1px solid #dfe3fa;
}
.invoice select option{
  background-color: var(--checkbox-background);
}
.item{
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 2fr;
  margin-top: 20px;
}
#addNew{
padding: 10px;
width: 100%;
margin: 5px auto 0 0;
border-radius: 20px;
border: none;
background-color: var(--lightblue);
cursor: pointer;
text-align: center;

}
#city,#postcode,#country{
  height: 40px;
  width: 100px;
}
#city1,#postcode1,#country1
,#invoiceDate,#netdays{
  height: 40px;
  width: 100px;
}

#street,#client,
#email,#street1,#project{
  width: 100%;
  height: 40px;
}



.newForm {
  display: grid;
}
input {
  border: 1px solid #dfe3fa;
}
.City,
.PostCode,
.Country {
  width: 100px;
  height: 40px;
  margin-left: 35px;
}
.City_one,
.PostCode_one,
.Country_one {
  width: 100px;
  height: 40px;
  margin-left: 35px;
} 
.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 50px;
  padding: 20px;
}
.buttons button{
  padding: 10px;
  border: none;
  border-radius: 20px;
}
#discard{
background-color: var(--lightblue);
color: var(--mainblue);
}
#save{
background-color: var(--darkerblue);
color: var(--lightblue);
}
#send{
  background-color: var(--mainblue);
  color: var(--select-background);
}
/* @media only screen and (min-width: 481px) and (max-width: 768px) {

} */
